<h1>Commuter Rail (<%= @desired_stop %> Stop)</h1>

<%= @inbound_scheduled_departure %>
<%= @outbound_scheduled_departure %>
<% @trains.each do |train| %>
  <%= train[:direction] %>:
  <ul>
    <li>Scheduled departure: <%= train[:scheduled_departure] %></li>
    <li>Predicted departure: <%= train[:predicted_departure] %></li>
  </ul>
<% end %>
