<h1>The <%= @desired_stop %> Stop</h1>

<% if @trains_available %>
  <% @trains.each do |train| %>
    <div>Route Name: <%= train[:route] %></div>
    <% train[:trip].each do |trip| %>
      <div>Direction: <%= trip[:direction] %></div>
      <div>Scheduled arrival time: <%= trip[:arrival_time] %></div>
      <div>Scheduled departure time: <%= trip[:departure_time] %></div>
    <% end %>
  <% end %>
<% else %>
  <div>No upcoming trains scheduled</div>
<% end %>
